label,
input,
p {
    margin-top: 10px;
}

input[type='text']:focus,
input[type='number']:focus {
    border: 0 none;
    outline: 0;
}
input[type='text'],
input[type='number'] {
    padding: 8px 10px 7px 10px;
    border-bottom: 1px solid black!important;
}
input[type='button'],
input[type='text'],
input[type='number'] {
    padding: 8px 10px 7px 10px;
    border: 0 none;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.click:focus {
    border: 0 none;
    background-color: #dcdcdcdc;
    transition: 0.3s;
    outline: 0;
    box-shadow: 0 none;
}